<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Test des brindilles</title>
</head>
<body>
    
    <h1>Bonjour tout le monde</h1>
    
    <p>Et bonjour {{ name }}</p>
    
</body>
</html>